.princ{
    background-color: #e06b28;
    border-radius: 18px;
    box-shadow: 30px 16px 42px 6px rgba(224,107,40,0.56);
    -webkit-box-shadow: 30px 16px 42px 6px rgba(224,107,40,0.56);
    -moz-box-shadow: 30px 16px 42px 6px rgba(224,107,40,0.56);
    margin-bottom: 80px;
}
.icono{
    width: 90px;
    height: 90px;
    margin: 5px;
}
.btn{
    border-color: #254158;
    background-color: #ffffff;
    color: #254158;
}
.btn:hover{
    border-color: #254158;
    background-color: #254158;
    color: #ffffff;   
} 

h3{
    color: #01263f;
    padding: 4px;
}
h3 span{
    font-size: 20px;
}
.titulos{
    margin: auto;
    display: flex;
    justify-content: space-evenly; 
    background-color: #ffffff;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    color: white;
}

#contacto{
    display: flex;
    max-width: none;
    background-color: #0f172b;
    margin-top: 50px;
}
#contacto article{
    width: 50%
}
#contacto article img{
    width: 100%;
    height: 100%;
}
#espacioContacto{
    margin: 45px;
}
#espacioContacto h3{
    color: #f1f8ff;
    margin: 10px 0;
}

#campos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.campo{
    width: 49.5%;
    margin: 10px 1px; 
}
.campo label{
    color: #f1f8ff;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
.inputTxt{
    width: 100%; 
    border: none;
    padding: 15px 0;   
    border-radius: 3px; 
}
.botones{
    display: flex;
    justify-content: center;
}
.agregar{
    display: flex;
    align-items: flex-end;
}